.flex.flex-column.h-100    
  .user-card.position-sticky.border-bottom
    img(src= "/images/avatar_4.jpg" alt= "Avatar").avatar.ms-3
        .user-card-info
          p.fw-bold.mb-0 Вениамин Редакторович
          p.mb-0.status Онлайн

  .section.p-4.hide-scrollbar.h-100 
    .d-flex.msg-left
      img.avatar.d-none.d-md-block.shadow-sm(src="./images/avatar_4.jpg", alt="avatar")
      
  .section