.d-flex.align-items-center.justify-content-between.w-100
  a(href="#")
    img(src="images/logo.svg", alt="hexlet logo").hexlet.invert 
    //внизу был .grid
  nav.nav(id='nav-tab' role='tablist') 
    a(href='#current-chat' id='nav-dialog-tab' data-bs-toggle='tab' data-bs-target='#current-chat' type='button' role='tab'  aria-controls='nav-dialog' aria-selected='false').d-md-none.d-flex.text-decoration-none.align-items-center.nav-link
      img(src="images/chat-left-text.svg", alt="dialog logo").me-0.me-md-2.invert.logo-25 
    a(href='#contacts' id='nav-contacts-tab' data-bs-toggle='tab' data-bs-target='#contacts' type='button' role='tab'  aria-controls='nav-contacts' aria-selected='true').d-flex.text-decoration-none.align-items-center.text-white.nav-link.active 
      img(src="images/people.svg", alt="contacts logo").me-0.me-md-2.invert.logo-25  
      p.mb-0.d-none.d-md-inline Контакты 
    a(href='#chats' id='nav-chats-tab' data-bs-toggle='tab' data-bs-target='#chats' type='button' role='tab'  aria-controls='nav-chats' aria-selected='false').d-flex.text-decoration-none.align-items-center.text-white.nav-link  
      img(src="images/chat.svg", alt="chat logo").me-0.me-md-2.invert.logo-25  
      p.mb-0.d-none.d-md-inline Сообщения
    a(href='#profile' id='nav-profile-tab' data-bs-toggle='tab' data-bs-target='#profile' type='button' role='tab'  aria-controls='nav-profile' aria-selected='false').d-flex.text-decoration-none.align-items-center.text-white.nav-link 
      img(src="images/person.svg", alt="profile logo").profile-space.invert.logo-25  
      p.mb-0.d-none.d-md-inline Профиль
