.d-flex.align-items-center
  a(href="#")
    img(src="images/logo.svg", alt="hexlet logo").hexlet.invert 
  .grid.nav(id='nav-tab' role='tablist') 
    a(href='#contact' id='nav-contact-tab' data-bs-toggle='tab' data-bs-target='#contact' type='button' role='tab'  aria-controls='nav-contact' aria-selected='true').d-flex.text-decoration-none.nav-link.active 
      img(src="images/people.svg", alt="contacts logo").me-0.me-md-2.invert 
      p.mb-0.d-none.d-md-inline Контакты 
    a(href='#chats' id='nav-chats-tab' data-bs-toggle='tab' data-bs-target='#chats' type='button' role='tab'  aria-controls='nav-chats' aria-selected='false').d-flex.text-decoration-none.nav-link  
      img(src="images/chat.svg", alt="chat logo").me-0.me-md-2.invert 
      p.mb-0.d-none.d-md-inline Сообщения
    a(href='#profile' id='nav-profile-tab' data-bs-toggle='tab' data-bs-target='#profile' type='button' role='tab'  aria-controls='nav-profile' aria-selected='false').d-flex.text-decoration-none.nav-link 
      img(src="images/person.svg", alt="profile logo").profile-space.invert 
      p.mb-0.d-none.d-md-inline Профиль