.d-flex.align-items-center
  a(href="#")
    img(src="images/logo.svg", alt="hexlet logo").hexlet.invert 
  .grid 
    a(href="#").d-flex.text-decoration-none 
      img(src="images/people.svg", alt="contacts logo").me-0.me-md-2.invert 
      p.mb-0.d-none.d-md-inline Контакты 
    a(href="#").d-flex.text-decoration-none  
      img(src="images/chat.svg", alt="chat logo").me-0.me-md-2.invert 
      p.mb-0.d-none.d-md-inline Сообщения
    a(href="#").d-flex.text-decoration-none  
      img(src="images/person.svg", alt="profile logo").profile-space.invert 
      p.mb-0.d-none.d-md-inline Профиль