@mixin hide-scrollbar() {
    & {
      -ms-overflow-style: none;
      scrollbar-width: none;
  
      overflow-y: auto;
      overflow-x: hidden;
    }
  
    &::-webkit-scrollbar {
      display: none;
    }
  }

.user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-right: 40px;
  text-decoration: none;
  color: black;

    &:hover {
      background-color: #4545A5;
      color: #FBFBFB;
      
      .status {
        color:#EFEFEF;
      }
    }
    
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 286px;
      height: 45px;
      margin: 1.5rem 0;
      margin-left: 1.5rem;
    }
}

.name-time {
  display: flex;
  justify-content: space-between;
}

.status {
  font-size: $small-font-size;
  color: #6C757D;
/*   Троеточие в конце длинного сообщения */

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  font-size: $small-font-size;
  color: #ADB5BD;
}

.hide-scrollbar {
  @include hide-scrollbar;
}

@media(max-width: 568px) {
  .user-card-info {
    width: 236px;
  }
}
