.msg {
  max-width: 558px;
}

.msg-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;

  & img {
    height: 21px;
    width: 21px;
    filter: invert(1);
  }
}

@media(max-width: 568px) {
  .msg {
    max-width: 318px;
  }

  .nopadding {
    margin: -48px -24px 0 -24px;
  }
}
