/* Включение теней */

$enable-shadows: true;


$theme-colors: (
	"primary":    #4545a5,
	"secondary":  #6c757d,
	"success":    #28a745,
	"info":       #17a2b8,
	"warning":    #ffc107,
	"danger":     #dc3545,
	"light":      #fbfbfb,
	"dark":       #343a40,
	"gray":       #efefef,
  "header":     #4545A5
);
$border-color: #efefef;

/* Добавили новое значение в xxl */

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1600px
);

/* Добавили новое значение в xxl */

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1540px
);
$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 4,
	7: $spacer * 2.5,
	8: $spacer * 2,
) !default;
$nav-link-font-size: 14px;
$nav-link-font-weight: 400;