.header-block {
  display: flex;
  align-items: center;
  height: 72px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 23px;
  column-gap: 32px;

  & p {
    font-size: 14px;
    color: #fbfbfb;
  }
}

.hexlet {
  width: 15px;
  height: 25px;
  margin-left: 21px;
  /* margin-right: 33px; */
}

.profile-space {
  margin-right: 11.12px;
  margin-left: 2px;
}

.logo-25 {
  width: 25px;
}

.logo-18 {
  width: 18.75px;
}

.invert {
  filter: invert(1);
}

.navigation-block {
  margin-top: 15.5px;
  margin-bottom: 15.5px;
  margin-right: 1rem;
}

@media(max-width: 568px) {
/*   .hexlet {
    margin-right: 183px;
  } */

  .grid {
    column-gap: 40px;
  }

  .profile-space {
    margin: 0;
  }

/*   .logo-25 {
    padding-left: 20px;
    padding-right: 20px;
  } */

}
